body{
  text-align: center;
}
.tituloNav{
  color: #fff;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}
.navContenido{
  background-image: url(https://image.freepik.com/vector-gratis/fondo-con-mandalas_1159-834.jpg);
}
.hamburguesaMovil{
  color: #fff;
  display: none;
  font-size: 2em;
}
img{
  width: 95%;
  margin-left: 1%;
  margin-right: 1%;
  height: auto;
}
#fotos{
  margin-top: 5%;
}
#botonesTexto{
  margin-top: 5%;
  margin-bottom: 5%;
}
.cerrar{
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}
#parrafo{
  padding-left: 7%;
  padding-right: 7%;
  text-align: justify;
}
